<!DOCTYPE html>
<html lang="en">
  [From: _includes/base.njk]
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }} - {{ metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="canonical" href="{{ metadata.url }}{{ page.url | url }}">

    <meta property="og:title" content="{{ title }} - {{ metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url | url }}">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:type" content="website">
    {% if image %}
    <meta property="og:image" content="{{ metadata.url }}{{ image | url }}">
    {% else %}
    <meta property="og:image" content="{{ metadata.url }}/assets/images/logo.jpg"> {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} - {{ metadata.title }}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">
    {% if image %}
    <meta name="twitter:image" content="{{ metadata.url }}{{ image | url }}">
    {% else %}
    <meta name="twitter:image" content="{{ metadata.url }}/assets/images/logo.jpg"> {% endif %}

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">


    <link href="{{ '/vendor/bootstrap/css/bootstrap.min.css' | url }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/fontawesome.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/templatemo-woox-travel.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/animate.css' | url }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | url }}">
</head>

  <body>

    {% include "preloader.njk" %}
    {% include "header.njk" %}

    <!-- Page-specific content -->
    {{ content | safe }}

    {% include "footer.njk" %}

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ '/vendor/jquery/jquery.min.js' | url }}"></script>
    <script src="{{ '/vendor/bootstrap/js/bootstrap.min.js' | url }}"></script>

    <!-- Template JavaScript Files -->
    <script src="{{ '/assets/js/isotope.min.js' | url }}"></script>
    <script src="{{ '/assets/js/owl-carousel.js' | url }}"></script>
    <script src="{{ '/assets/js/wow.js' | url }}"></script>
    <script src="{{ '/assets/js/tabs.js' | url }}"></script>
    <script src="{{ '/assets/js/popup.js' | url }}"></script>
    <script src="{{ '/assets/js/custom.js' | url }}"></script>

    <!-- Page-specific scripts -->
    {% if pageScripts %}
      {{ pageScripts | safe }}
    {% endif %}

  </body>
</html>
